:root {
    --bulma-link-h: 0deg;
    --bulma-link-l: 40%;
  }

.contenedor__titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__titulo img{
    margin-right: 1rem;   
    width: 8rem;         
    height: auto; 
}
.contenedor__titulo h1{
    color: red;
    font-family: Inter,SF Pro,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 150px;
    font-weight: bold;
    font-style: oblique;
    opacity: 0;          
    animation: animación_titulo 2s forwards;
}
@keyframes animación_titulo {
    0% {
        transform: translateX(75%); 
        opacity: 0;                    
    }
    100% {
        transform: translateX(0);    
        opacity: 1;                  
    }
}

.resultados{
    margin: 3rem;
    margin-top: 1rem;
    padding: 2rem;
    font-family: ui-sans-serif,system-ui,sans-serif;
}

.resultados h2{
    font-size: 4rem;
    font-style: oblique;
    font-weight: bold;
}

.table th{
    background-color: var(--bulma-border);
}