.titulo_pilotos {
    font-size: 90px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    width: 25%;
    background-color: #b4c2bd;
    border-radius: 20px;
    font-weight: bold;
    margin: 1% 1% 1% 1%;
    padding: 1%;
}

.contenedor_posicion_puntos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.posicion {
    font-size: 24px;
    font-weight: bold;
}

.puntos {
    font-size: 18px;
}

.contenedor_nombre_pais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
    border-bottom: 1px solid white;
}

.escuderia{
    text-align: center;
    color: black;
}

.nombre {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.imagen_pais {
    height: 30px;
    border-radius: 5px;
}

.imagen_piloto {
    width: 100%;
    height: auto;
    border-top: 1px solid #ddd;
}
